header {
    background-color: white;
    color: grey;
    text-align: center;
    clear: both;
    margin-bottom: 10px;
}

nav {
    clear: both;
    text-align: center;
    color: grey;
    background-color: white;
    height: 20px;
    margin-bottom: 10px;
}

section {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: purple;
    width: 400px;
    height: 300px;
    clear: both;
}

article {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    width: 250px;
    height: 150px;
    background-color: grey;
    text-align: center;
}

aside {
    display: flexbox;
    float: right;
    color: black;
    background-color: white;
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    text-align: center;
    clear: both;
}

footer {
    margin-top: 10px;
    height: 20px;
    text-align: center;
    background-color: white;
    clear: both;
}

body {
    width: 850px;
    background-color: grey;
}