header,
nav,
section,
aside,
footer {
    display: block;
    background-color: white;
    color: grey;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

header {
    clear: both;
}

section {
    display: block;
    float: left;
    width: 45%;
}

aside {
    display: block;
    float: right;
    width: 45%;
    height: 200px;
    overflow: hidden;
}

p,
h1 {
    text-align: center;
    margin: 0 auto;
    color: grey;
    background-color: white;
}

.what {
    font-size: 10px;
}

#article-body {
    font-size: 20px;
}

article {
    margin: 0 auto;
    padding: 10px;
    color: white;
    background-color: grey;
}

body {
    max-width: 960px;
    background-color: grey;
}

.clear {
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}